#container {
  /* background-color: aquamarine; */
}

.main-visual_wrap {
  position: relative;
  aspect-ratio: 2000 / 646;
  background-image: url(../img/promotion_bg.jpg);
  background-size: cover;
}

.main-visual_title {
  position: absolute;
  top: 35%;
  left: 11%;
  width: 23%;
}

.main-visual_title img {
  width: 100%;
}

.main-visual_btn {
  position: absolute;
  top: 62%;
  left: 19%;
  width: 7%;
  background-color: transparent;
  border-radius: 8px;
  border: 2px solid #004734;
  font-size: 14px;
  padding-block: 14px 14px;
  transition: all 0.8s ease;
  text-align: center;
}

.main-visual_btn:any-link {
  text-decoration: none;
  color: #004734;
}

.main-visual_btn:hover {
  background-color: #004734;
  color: white;
  text-decoration: underline;
}

[class^="set_"] {
  width: 13%;
}

[class^="set_"] img {
  width: 100%;
}

.set_1 {
  top: 17.5%;
  left: 49.9%;
}

.set_2 {
  top: 16.9%;
  left: 38%;
}

.set_3 {
  top: 17.2%;
  right: 25.4%;
}

.line_notice {
  display: flex;
  height: 62px;
}

.line_notice_left {
  flex: 1;
  background-color: #111;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 10px;
}

.line_notice_left * {
  margin-inline: 10px;
}

.line_notice_left img {
  width: 65px;
}

.line_notice_left ol {
  width: 313px;
}

.line_notice_left li {
  color: #fff;
  font-size: 13px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.line_notice_left li a:any-link {
  color: #fff;
}

.line_notice_left span {
  width: 36px;
  height: 36px;
  background-image: url(../img/btn_notice_plus.png);
  background-size: contain;
}

.line_notice_left span a {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-indent: -1000px;
}

.line_notice_right {
  flex: 1;
  background-color: #f6f5ef;
  display: flex;
  justify-content: left;
  align-items: center;
}

.line_notice_right img {
  width: 129px;
  height: 17px;
  margin-inline: 94px 68px;
}

.line_notice_right span {
  width: 36px;
  height: 36px;
  background-image: url(../img/btn_prom_down.png);
  background-size: contain;
  cursor: pointer;
  overflow: hidden;
  text-indent: -1000px;
}

.line_notice_right span.open {
  background-image: url(../img/btn_prom_up.png);
}

.prom_reward {
  background-color: #1d3a31;
  display: flex;
  justify-content: center;
  padding-block: 30px;
}

.prom_reward_header {
  margin-inline-end: 40px;
}

.prom_reward_header a img {
  width: 176px;
}

.prom_reward_inner {
  width: 796px;
}

.prom_reward_container {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-block-end: 18px;
  border-bottom: 1px solid #344d47;
}

.prom_reward_container_text {
  color: #fff;
}

.prom_reward_container_text h2 {
  font-size: 26px;
  margin-block-end: 12px;
}

.prom_reward_container_text p {
  line-height: 1.4;
  font-size: 17px;
}

.prom_reward_container_menu span:last-child {
  margin-inline-start: 5px;
}

.prom_reward_footer {
  display: flex;
  justify-content: space-between;
  padding-block-start: 24px;
}

.prom_reward_footer_text {
  color: #fff;
}

.prom_reward_footer_text p {
  font-size: 14px;
  line-height: 1.4;
}

.prom_reward_footer_menu .btn-outlined {
  padding-inline: 0;
  width: 178px;
}
